<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Natureme - Eco Cleaning booking within seconds!</title>

	<!--bootstrap-->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Main CSS with all other modifications -->
    <link href="{% static 'css/checkout.css' %}" rel="stylesheet"> 

</head>
<body>
	<div>
	<h1> <p> hello world! </p> </h1>
	<form method= "" class="booking-form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save btn btn-default">Next</button>

	</form>

	</div>
</body>
</html>