/*buttons checkbox*/

.ck-button {
    border-radius: 5px;
	margin: 15px 15%!important;
}

.ck-button label {
    width: 100%;
    cursor: pointer!important;
}

.ck-button label span {
    text-align: center;
    padding: 10px 5px;
    display: block;
}

.ck-button label input {
    position: absolute;
    left: -9999px; /* hidden input type */
}

.btn-plans-weekly input:checked + span {
    background-color: #3d4d64;
    color: #fff;
}
.btn-plans-fort input:checked + span {
    background-color: #44ab0c;
    color: #fff;
}
.btn-plans-once input:checked + span {
    background-color: #d6b215;
    color: #fff;
}

/*------*/

.btn-plans{
	background-color: #fff;
	margin: 0 0 15px 0;
	padding: 10px;
	width: 60%;
	font-weight: bold;
}

.btn-plans-weekly,
.btn-plans-weekly:visited{
	border: 1px solid #3d4d64;
	color: #3d4d64;
	background-color: #fff;
}
.btn-plans-weekly:hover{
	background-color: #3d4d64;
	color: #fff;
}

.btn-plans-fort,
.btn-plans-fort:visited{
	border: 1px solid #44ab0c;
	color: #44ab0c;
	background-color: #fff;
}
.btn-plans-fort:hover{
	background-color: #44ab0c;
	color: #fff;
}

.btn-plans-once,
.btn-plans-once:visited{
	border: 1px solid #d6b215;
	color: #d6b215;
	background-color: #fff;
}
.btn-plans-once:hover{
	background-color: #d6b215;
	color: #fff;
}
.btn-next{
	width: 100%;
	background-color: #44ab0c;
	color: #fff;
	-webkit-box-shadow: inset 0px -5px 0px 0px rgba(56,139,11,1);
	-moz-box-shadow: inset 0px -5px 0px 0px rgba(56,139,11,1);
	box-shadow: inset 0px -5px 0px 0px rgba(56,139,11,1);
	margin: 50px 0;
}
.btn-next:hover,
.btn-next:visited,
.btn-next:active{
	background-color: #3c970a;
	color: #fff;
}

.btn-cancel{
    background-color: #282828;
    color: #fff;
    margin: 20px 15px 0 15px;
    width: auto;
    position: relative;
    float: right;
}
.btn-cancel:hover{
	background-color: #383838;
	color: #fff;
}
.btn-next:visited,
.btn-next:active{
	color: #fff!important;
}

.btn-home{
    width: 150px;
    border: 0;
}
.btn-work{
    background-color: #0080fa;
    padding: 15px 20px;
    margin: 1em;
}
.btn-work:hover{
    background-color: #057ae9;
}
.btn-book{
    background-color: #ff9900;
    padding: 15px 20px;
    margin: 1em;
}
.btn-book:hover{
    background-color: #ef940b;
}

.btn-bottom{
	margin-bottom: 100px;
}